@tailwind base;
@tailwind components;
@tailwind utilities;

/* Vous pouvez ajouter ici une police plus douce pour le côté "santé" */
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}